In [1]:
import pandas as pd

In [2]:
crimenes=pd.read_csv(r"crimeneseeuu.csv")

In [3]:
crimenes.head()

,Unnamed: 0,year,state_abbr,state_name,population,violent_crime,homicide,rape_legacy,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,0,1979,NaN,NaN,220099000,1208030,21460,76390.0,480700,629480,11041500,3327700,6601000,1112800
1,1,1979,AK,Alaska,406000,1994,54,292.0,445,1203,23193,5616,15076,2501
2,2,1979,AL,Alabama,3769000,15578,496,1037.0,4127,9918,144372,48517,83791,12064
3,3,1979,AR,Arkansas,2180000,7984,198,595.0,1626,5565,70949,21457,45267,4225
4,4,1979,AZ,Arizona,2450000,14528,219,1120.0,4305,8884,177977,48916,116976,12085

In [4]:
crimenes_por_estado_y_a単o = crimenes.groupby(['state_name', 'year'])['homicide'].sum()

In [5]:
a単o_mas_homicidios_por_estado = crimenes_por_estado_y_a単o.groupby('state_name').idxmax()
a単o_mas_homicidios_por_estado

state_name
Alabama                              (Alabama, 1980)
Alaska                                (Alaska, 1982)
Arizona                              (Arizona, 2007)
Arkansas                            (Arkansas, 1994)
California                        (California, 1993)
Colorado                            (Colorado, 1981)
Connecticut                      (Connecticut, 1994)
Delaware                            (Delaware, 2015)
District of Columbia    (District of Columbia, 1991)
Florida                              (Florida, 1981)
Georgia                              (Georgia, 1981)
Hawaii                                (Hawaii, 1980)
Idaho                                  (Idaho, 1979)
Illinois                            (Illinois, 1994)
Indiana                              (Indiana, 1980)
Iowa                                    (Iowa, 2017)
Kansas                                (Kansas, 1998)
Kentucky                            (Kentucky, 1983)
Louisiana                          (Louisiana, 1993)
Maine                                  (Maine, 1989)
Maryland                            (Maryland, 1993)
Massachusetts                  (Massachusetts, 1989)
Michigan                            (Michigan, 1987)
Minnesota                          (Minnesota, 1995)
Mississippi                      (Mississippi, 1997)
Missouri                            (Missouri, 2017)
Montana                              (Montana, 1985)
Nebraska                            (Nebraska, 2007)
Nevada                                (Nevada, 2017)
New Hampshire                  (New Hampshire, 1991)
New Jersey                        (New Jersey, 1981)
New Mexico                        (New Mexico, 2009)
New York                            (New York, 1990)
North Carolina                (North Carolina, 1993)
North Dakota                    (North Dakota, 2012)
Ohio                                    (Ohio, 1980)
Oklahoma                            (Oklahoma, 1995)
Oregon                                (Oregon, 1986)
Pennsylvania                    (Pennsylvania, 1993)
Rhode Island                    (Rhode Island, 1989)
South Carolina                (South Carolina, 2019)
South Dakota                    (South Dakota, 2008)
Tennessee                          (Tennessee, 1995)
Texas                                  (Texas, 1991)
Utah                                    (Utah, 1995)
Vermont                              (Vermont, 1981)
Virginia                            (Virginia, 1991)
Washington                        (Washington, 1994)
West Virginia                  (West Virginia, 1980)
Wisconsin                          (Wisconsin, 2015)
Wyoming                              (Wyoming, 1982)
Name: homicide, dtype: object

In [6]:
crimenes_por_estado_y_a単o = crimenes.groupby(['state_name', 'year'])['homicide'].sum()

In [7]:
a単o_mas_homicidios_por_estado = crimenes_por_estado_y_a単o.groupby('state_name').idxmax()
a単o_mas_homicidios_por_estado

state_name
Alabama                              (Alabama, 1980)
Alaska                                (Alaska, 1982)
Arizona                              (Arizona, 2007)
Arkansas                            (Arkansas, 1994)
California                        (California, 1993)
Colorado                            (Colorado, 1981)
Connecticut                      (Connecticut, 1994)
Delaware                            (Delaware, 2015)
District of Columbia    (District of Columbia, 1991)
Florida                              (Florida, 1981)
Georgia                              (Georgia, 1981)
Hawaii                                (Hawaii, 1980)
Idaho                                  (Idaho, 1979)
Illinois                            (Illinois, 1994)
Indiana                              (Indiana, 1980)
Iowa                                    (Iowa, 2017)
Kansas                                (Kansas, 1998)
Kentucky                            (Kentucky, 1983)
Louisiana                          (Louisiana, 1993)
Maine                                  (Maine, 1989)
Maryland                            (Maryland, 1993)
Massachusetts                  (Massachusetts, 1989)
Michigan                            (Michigan, 1987)
Minnesota                          (Minnesota, 1995)
Mississippi                      (Mississippi, 1997)
Missouri                            (Missouri, 2017)
Montana                              (Montana, 1985)
Nebraska                            (Nebraska, 2007)
Nevada                                (Nevada, 2017)
New Hampshire                  (New Hampshire, 1991)
New Jersey                        (New Jersey, 1981)
New Mexico                        (New Mexico, 2009)
New York                            (New York, 1990)
North Carolina                (North Carolina, 1993)
North Dakota                    (North Dakota, 2012)
Ohio                                    (Ohio, 1980)
Oklahoma                            (Oklahoma, 1995)
Oregon                                (Oregon, 1986)
Pennsylvania                    (Pennsylvania, 1993)
Rhode Island                    (Rhode Island, 1989)
South Carolina                (South Carolina, 2019)
South Dakota                    (South Dakota, 2008)
Tennessee                          (Tennessee, 1995)
Texas                                  (Texas, 1991)
Utah                                    (Utah, 1995)
Vermont                              (Vermont, 1981)
Virginia                            (Virginia, 1991)
Washington                        (Washington, 1994)
West Virginia                  (West Virginia, 1980)
Wisconsin                          (Wisconsin, 2015)
Wyoming                              (Wyoming, 1982)
Name: homicide, dtype: object