In [1]:
#%pip install requests

Requirement already satisfied: requests in c:\users\jelsa\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests as req

In [3]:
import pandas as pd

In [4]:
df =pd.read_csv(r"C:\Users\jelsa\OneDrive\Documentos\ironhack-proj\apis\US_violent_crime.csv")

In [5]:
df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [ ]:
#conda install -c conda-forge selenium

In [ ]:
#%pip install webdriver-manager

In [8]:
from webdriver_manager.chrome import ChromeDriverManager

In [9]:
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [10]:
from selenium.webdriver.common.by import By 

import time

import warnings
warnings.filterwarnings('ignore')

In [14]:
url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_violent_crime_rate'

In [15]:
from selenium import webdriver

In [16]:
PATH = ChromeDriverManager().install()     

driver=webdriver.Chrome(PATH)

In [17]:
driver.get(url)

In [ ]:
# vamos a meterle una imagen de eeuu para que sea más iteractivo

In [18]:
US_crime_map= [e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]
US_crime_map[3]

'https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Violent_Crime_Rate_by_U.S._state.svg/550px-Violent_Crime_Rate_by_U.S._state.svg.png'

In [ ]:
# vamos a meter más columnas.

In [19]:
crime_rate = driver.find_elements(By.TAG_NAME, 'b')
crime_rate[2].text

'999.8'

In [20]:
new_crime_rate = []

for i in crime_rate:
    new_crime_rate.append(i.text.strip())
print(new_crime_rate)

['list of U.S. states and territories by violent crime rate', '7,127', '999.8', '6,126', '837.8', '16,393', '778.3', '46,328', '672.7', '20,363', '671.9', '35,980', '654.8', '29,704', '639.4', '33,385', '542.7', '27,691', '530.7', '4,476', '501.4', '47,641', '478.0', '5,077', '469.8', '14,445', '460.3', '18,255', '458.6', '22,322', '453.6', '131,084', '446.5', '174,026', '442.0', '4,262', '431.9', '53,612', '425.9', '12,835', '425.0', '24,570', '423.1', '44,451', '419.3', '42,850', '400.1', '24,215', '399.9', '49,793', '389.5', '83,368', '383.6', '70,339', '363.8', '24,161', '357.7', '6,352', '355.9', '6,473', '334.1', '2,518', '329.0', '18,861', '323.4', '36,104', '308.8', '21,288', '308.8', '9,601', '303.5', '22,596', '293.7', '12,380', '291.9', '8,638', '291.2', '15,698', '277.5', '8,471', '260.7', '11,600', '259.1', '3,576', '254.2', '4,432', '242.6', '1,364', '234.2', '2,440', '230.8', '17,925', '208.0', '17,353', '195.4', '6,459', '181.6', '1,081', '173.4', '5,196', '164.5', '2,000', '146.4', '1,466', '108.6', '1,313,105', 'a', 'b', 'c', 'a', 'b', '']

In [21]:
def extract_numbers(lst):                                          # limpiar la lista que nos ha dado
    return [x for x in lst if x.replace('.','',1).isdigit()]

print(extract_numbers(['list of U.S. states and territories by violent crime rate', '7,127', '999.8', '6,126', '837.8', '16,393', '778.3', '46,328', '672.7', '20,363', '671.9', '35,980', '654.8', '29,704', '639.4', '33,385', '542.7', '27,691', '530.7', '4,476', '501.4', '47,641', '478.0', '5,077', '469.8', '14,445', '460.3', '18,255', '458.6', '22,322', '453.6', '131,084', '446.5', '174,026', '442.0', '4,262', '431.9', '53,612', '425.9', '12,835', '425.0', '24,570', '423.1', '44,451', '419.3', '42,850', '400.1', '24,215', '399.9', '49,793', '389.5', '83,368', '383.6', '70,339', '363.8', '24,161', '357.7', '6,352', '355.9', '6,473', '334.1', '2,518', '329.0', '18,861', '323.4', '36,104', '308.8', '21,288', '308.8', '9,601', '303.5', '22,596', '293.7', '12,380', '291.9', '8,638', '291.2', '15,698', '277.5', '8,471', '260.7', '11,600', '259.1', '3,576', '254.2', '4,432', '242.6', '1,364', '234.2', '2,440', '230.8', '17,925', '208.0', '17,353', '195.4', '6,459', '181.6', '1,081', '173.4', '5,196', '164.5', '2,000', '146.4', '1,466', '108.6', '1,313,105', 'a', 'b', 'c', 'a', 'b', '']))

['999.8', '837.8', '778.3', '672.7', '671.9', '654.8', '639.4', '542.7', '530.7', '501.4', '478.0', '469.8', '460.3', '458.6', '453.6', '446.5', '442.0', '431.9', '425.9', '425.0', '423.1', '419.3', '400.1', '399.9', '389.5', '383.6', '363.8', '357.7', '355.9', '334.1', '329.0', '323.4', '308.8', '308.8', '303.5', '293.7', '291.9', '291.2', '277.5', '260.7', '259.1', '254.2', '242.6', '234.2', '230.8', '208.0', '195.4', '181.6', '173.4', '164.5', '146.4', '108.6']

In [22]:
df['crime_rate'] = ['999.8', '837.8', '778.3', '672.7', '671.9', '654.8', '639.4', '542.7', '530.7', '501.4', '478.0', '469.8', '460.3', '458.6', '453.6', '446.5', '442.0', '431.9', '425.9', '425.0', '423.1', '419.3', '400.1', '399.9', '389.5', '383.6', '363.8', '357.7', '355.9', '334.1', '329.0', '323.4', '308.8', '308.8', '303.5', '293.7', '291.9', '291.2', '277.5', '260.7', '259.1', '254.2', '242.6', '234.2', '230.8', '208.0', '195.4', '181.6', '173.4', '164.5',]

In [23]:
df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape crime_rate
0     Alabama    13.2      236        58  21.2      999.8
1      Alaska    10.0      263        48  44.5      837.8
2     Arizona     8.1      294        80  31.0      778.3
3    Arkansas     8.8      190        50  19.5      672.7
4  California     9.0      276        91  40.6      671.9

In [24]:
df["crime_rate"] = 0    # le meto 0 porque quiero ordenar los datos de crime_rate por cada estado más abajo

In [25]:
df.at[0, "crime_rate"] = 453.6
df.at[1, "crime_rate"] = 837.8
df.at[2, "crime_rate"] = 654.8
df.at[3, "crime_rate"] = 671.9
df.at[4, "crime_rate"] = 442.0
df.at[5, "crime_rate"] = 423.1
df.at[6, "crime_rate"] = 181.6
df.at[7, "crime_rate"] = 431.9
df.at[8, "crime_rate"] = 383.6
df.at[9, "crime_rate"] = 400.1
df.at[10, "crime_rate"] = 254.2
df.at[11, "crime_rate"] = 242.6
df.at[12, "crime_rate"] = 425.9
df.at[13, "crime_rate"] = 357.7
df.at[14, "crime_rate"] = 303.5
df.at[15, "crime_rate"] = 425.0
df.at[16, "crime_rate"] = 259.1
df.at[17, "crime_rate"] = 639.4
df.at[18, "crime_rate"] = 108.6
df.at[19, "crime_rate"] = 399.9
df.at[20, "crime_rate"] = 308.8
df.at[21, "crime_rate"] = 478.0
df.at[22, "crime_rate"] = 277.5
df.at[23, "crime_rate"] = 291.2
df.at[24, "crime_rate"] = 542.7
df.at[25, "crime_rate"] = 469.8
df.at[26, "crime_rate"] = 334.1
df.at[27, "crime_rate"] = 460.3
df.at[28, "crime_rate"] = 146.4
df.at[29, "crime_rate"] = 195.4
df.at[30, "crime_rate"] = 778.3
df.at[31, "crime_rate"] = 363.8
df.at[32, "crime_rate"] = 419.3
df.at[33, "crime_rate"] = 329.0
df.at[34, "crime_rate"] = 308.8
df.at[35, "crime_rate"] = 458.6
df.at[36, "crime_rate"] = 291.9
df.at[37, "crime_rate"] = 389.5
df.at[38, "crime_rate"] = 230.8
df.at[39, "crime_rate"] = 530.7
df.at[40, "crime_rate"] = 501.4
df.at[41, "crime_rate"] = 672.7
df.at[42, "crime_rate"] = 446.5
df.at[43, "crime_rate"] = 260.7
df.at[44, "crime_rate"] = 173.4
df.at[45, "crime_rate"] = 208.0
df.at[46, "crime_rate"] = 293.7
df.at[47, "crime_rate"] = 355.9
df.at[48, "crime_rate"] = 323.4
df.at[49, "crime_rate"] = 234.2

In [26]:
df

        Unnamed: 0  Murder  Assault  UrbanPop  Rape  crime_rate
0          Alabama    13.2      236        58  21.2       453.6
1           Alaska    10.0      263        48  44.5       837.8
2          Arizona     8.1      294        80  31.0       654.8
3         Arkansas     8.8      190        50  19.5       671.9
4       California     9.0      276        91  40.6       442.0
5         Colorado     7.9      204        78  38.7       423.1
6      Connecticut     3.3      110        77  11.1       181.6
7         Delaware     5.9      238        72  15.8       431.9
8          Florida    15.4      335        80  31.9       383.6
9          Georgia    17.4      211        60  25.8       400.1
10          Hawaii     5.3       46        83  20.2       254.2
11           Idaho     2.6      120        54  14.2       242.6
12        Illinois    10.4      249        83  24.0       425.9
13         Indiana     7.2      113        65  21.0       357.7
14            Iowa     2.2       56        57  11.3       303.5
15          Kansas     6.0      115        66  18.0       425.0
16        Kentucky     9.7      109        52  16.3       259.1
17       Louisiana    15.4      249        66  22.2       639.4
18           Maine     2.1       83        51   7.8       108.6
19        Maryland    11.3      300        67  27.8       399.9
20   Massachusetts     4.4      149        85  16.3       308.8
21        Michigan    12.1      255        74  35.1       478.0
22       Minnesota     2.7       72        66  14.9       277.5
23     Mississippi    16.1      259        44  17.1       291.2
24        Missouri     9.0      178        70  28.2       542.7
25         Montana     6.0      109        53  16.4       469.8
26        Nebraska     4.3      102        62  16.5       334.1
27          Nevada    12.2      252        81  46.0       460.3
28   New Hampshire     2.1       57        56   9.5       146.4
29      New Jersey     7.4      159        89  18.8       195.4
30      New Mexico    11.4      285        70  32.1       778.3
31        New York    11.1      254        86  26.1       363.8
32  North Carolina    13.0      337        45  16.1       419.3
33    North Dakota     0.8       45        44   7.3       329.0
34            Ohio     7.3      120        75  21.4       308.8
35        Oklahoma     6.6      151        68  20.0       458.6
36          Oregon     4.9      159        67  29.3       291.9
37    Pennsylvania     6.3      106        72  14.9       389.5
38    Rhode Island     3.4      174        87   8.3       230.8
39  South Carolina    14.4      279        48  22.5       530.7
40    South Dakota     3.8       86        45  12.8       501.4
41       Tennessee    13.2      188        59  26.9       672.7
42           Texas    12.7      201        80  25.5       446.5
43            Utah     3.2      120        80  22.9       260.7
44         Vermont     2.2       48        32  11.2       173.4
45        Virginia     8.5      156        63  20.7       208.0
46      Washington     4.0      145        73  26.2       293.7
47   West Virginia     5.7       81        39   9.3       355.9
48       Wisconsin     2.6       53        66  10.8       323.4
49         Wyoming     6.8      161        60  15.6       234.2

In [27]:
df.head(50)

        Unnamed: 0  Murder  Assault  UrbanPop  Rape  crime_rate
0          Alabama    13.2      236        58  21.2       453.6
1           Alaska    10.0      263        48  44.5       837.8
2          Arizona     8.1      294        80  31.0       654.8
3         Arkansas     8.8      190        50  19.5       671.9
4       California     9.0      276        91  40.6       442.0
5         Colorado     7.9      204        78  38.7       423.1
6      Connecticut     3.3      110        77  11.1       181.6
7         Delaware     5.9      238        72  15.8       431.9
8          Florida    15.4      335        80  31.9       383.6
9          Georgia    17.4      211        60  25.8       400.1
10          Hawaii     5.3       46        83  20.2       254.2
11           Idaho     2.6      120        54  14.2       242.6
12        Illinois    10.4      249        83  24.0       425.9
13         Indiana     7.2      113        65  21.0       357.7
14            Iowa     2.2       56        57  11.3       303.5
15          Kansas     6.0      115        66  18.0       425.0
16        Kentucky     9.7      109        52  16.3       259.1
17       Louisiana    15.4      249        66  22.2       639.4
18           Maine     2.1       83        51   7.8       108.6
19        Maryland    11.3      300        67  27.8       399.9
20   Massachusetts     4.4      149        85  16.3       308.8
21        Michigan    12.1      255        74  35.1       478.0
22       Minnesota     2.7       72        66  14.9       277.5
23     Mississippi    16.1      259        44  17.1       291.2
24        Missouri     9.0      178        70  28.2       542.7
25         Montana     6.0      109        53  16.4       469.8
26        Nebraska     4.3      102        62  16.5       334.1
27          Nevada    12.2      252        81  46.0       460.3
28   New Hampshire     2.1       57        56   9.5       146.4
29      New Jersey     7.4      159        89  18.8       195.4
30      New Mexico    11.4      285        70  32.1       778.3
31        New York    11.1      254        86  26.1       363.8
32  North Carolina    13.0      337        45  16.1       419.3
33    North Dakota     0.8       45        44   7.3       329.0
34            Ohio     7.3      120        75  21.4       308.8
35        Oklahoma     6.6      151        68  20.0       458.6
36          Oregon     4.9      159        67  29.3       291.9
37    Pennsylvania     6.3      106        72  14.9       389.5
38    Rhode Island     3.4      174        87   8.3       230.8
39  South Carolina    14.4      279        48  22.5       530.7
40    South Dakota     3.8       86        45  12.8       501.4
41       Tennessee    13.2      188        59  26.9       672.7
42           Texas    12.7      201        80  25.5       446.5
43            Utah     3.2      120        80  22.9       260.7
44         Vermont     2.2       48        32  11.2       173.4
45        Virginia     8.5      156        63  20.7       208.0
46      Washington     4.0      145        73  26.2       293.7
47   West Virginia     5.7       81        39   9.3       355.9
48       Wisconsin     2.6       53        66  10.8       323.4
49         Wyoming     6.8      161        60  15.6       234.2

In [ ]:
# En vez de usar selenium voy a usar el metodo beautifulsoup

In [ ]:
#%pip install beautifulsoup4

In [28]:
import requests as req

from bs4 import BeautifulSoup as bs

In [29]:
url = 'https://fred.stlouisfed.org/release/tables?eid=259515&rid=249'  # Tomo estos datos para insertar desde esta web los ingresos por familia de cada estado.

In [30]:
html=req.get(url).content
html[:100]

b'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta http-equiv="X-UA-Compatible" content="IE=edge">\n  '

In [31]:
soup=bs(html, 'html.parser')

In [32]:
family_income= soup.find_all('td', class_="fred-rls-elm-vl-td")
family_income

[<td class="fred-rls-elm-vl-td">
               70,784
           </td>,
 <td class="fred-rls-elm-vl-td">
               71,186
           </td>,
 <td class="fred-rls-elm-vl-td">
                         71,186
                   </td>,
 <td class="fred-rls-elm-vl-td">
               56,929
           </td>,
 <td class="fred-rls-elm-vl-td">
               57,243
           </td>,
 <td class="fred-rls-elm-vl-td">
                         57,243
                   </td>,
 <td class="fred-rls-elm-vl-td">
               81,133
           </td>,
 <td class="fred-rls-elm-vl-td">
               78,236
           </td>,
 <td class="fred-rls-elm-vl-td">
                         78,236
                   </td>,
 <td class="fred-rls-elm-vl-td">
               70,821
           </td>,
 <td class="fred-rls-elm-vl-td">
               70,220
           </td>,
 <td class="fred-rls-elm-vl-td">
                         70,220
                   </td>,
 <td class="fred-rls-elm-vl-td">
               50,784
           </td>,
 <td class="fred-rls-elm-vl-td">
               53,148
           </td>,
 <td class="fred-rls-elm-vl-td">
                         53,148
                   </td>,
 <td class="fred-rls-elm-vl-td">
               81,575
           </td>,
 <td class="fred-rls-elm-vl-td">
               81,278
           </td>,
 <td class="fred-rls-elm-vl-td">
                         81,278
                   </td>,
 <td class="fred-rls-elm-vl-td">
               84,954
           </td>,
 <td class="fred-rls-elm-vl-td">
               87,689
           </td>,
 <td class="fred-rls-elm-vl-td">
                         87,689
                   </td>,
 <td class="fred-rls-elm-vl-td">
               80,958
           </td>,
 <td class="fred-rls-elm-vl-td">
               83,141
           </td>,
 <td class="fred-rls-elm-vl-td">
                         83,141
                   </td>,
 <td class="fred-rls-elm-vl-td">
               68,687
           </td>,
 <td class="fred-rls-elm-vl-td">
               73,292
           </td>,
 <td class="fred-rls-elm-vl-td">
                         73,292
                   </td>,
 <td class="fred-rls-elm-vl-td">
               90,640
           </td>,
 <td class="fred-rls-elm-vl-td">
               92,337
           </td>,
 <td class="fred-rls-elm-vl-td">
                         92,337
                   </td>,
 <td class="fred-rls-elm-vl-td">
               59,734
           </td>,
 <td class="fred-rls-elm-vl-td">
               60,460
           </td>,
 <td class="fred-rls-elm-vl-td">
                         60,460
                   </td>,
 <td class="fred-rls-elm-vl-td">
               61,497
           </td>,
 <td class="fred-rls-elm-vl-td">
               62,033
           </td>,
 <td class="fred-rls-elm-vl-td">
                         62,033
                   </td>,
 <td class="fred-rls-elm-vl-td">
               82,199
           </td>,
 <td class="fred-rls-elm-vl-td">
               84,600
           </td>,
 <td class="fred-rls-elm-vl-td">
                         84,600
                   </td>,
 <td class="fred-rls-elm-vl-td">
               76,918
           </td>,
 <td class="fred-rls-elm-vl-td">
               69,841
           </td>,
 <td class="fred-rls-elm-vl-td">
                         69,841
                   </td>,
 <td class="fred-rls-elm-vl-td">
               79,253
           </td>,
 <td class="fred-rls-elm-vl-td">
               77,805
           </td>,
 <td class="fred-rls-elm-vl-td">
                         77,805
                   </td>,
 <td class="fred-rls-elm-vl-td">
               70,190
           </td>,
 <td class="fred-rls-elm-vl-td">
               69,925
           </td>,
 <td class="fred-rls-elm-vl-td">
                         69,925
                   </td>,
 <td class="fred-rls-elm-vl-td">
               72,429
           </td>,
 <td class="fred-rls-elm-vl-td">
               72,030
           </td>,
 <td class="fred-rls-elm-vl-td">
                         72,030
                   </td>,
 <td class="fred-rls-elm-vl-td">
               75,979
           </td>,
 <td class="fred-rls-elm-vl-td">
               76,495
           </td>,
 <td class="fred-rls-elm-vl-td">
                         76,495
                   </td>,
 <td class="fred-rls-elm-vl-td">
               55,629
           </td>,
 <td class="fred-rls-elm-vl-td">
               59,405
           </td>,
 <td class="fred-rls-elm-vl-td">
                         59,405
                   </td>,
 <td class="fred-rls-elm-vl-td">
               57,206
           </td>,
 <td class="fred-rls-elm-vl-td">
               53,576
           </td>,
 <td class="fred-rls-elm-vl-td">
                         53,576
                   </td>,
 <td class="fred-rls-elm-vl-td">
               71,139
           </td>,
 <td class="fred-rls-elm-vl-td">
               66,667
           </td>,
 <td class="fred-rls-elm-vl-td">
                         66,667
                   </td>,
 <td class="fred-rls-elm-vl-td">
               97,332
           </td>,
 <td class="fred-rls-elm-vl-td">
               99,215
           </td>,
 <td class="fred-rls-elm-vl-td">
                         99,215
                   </td>,
 <td class="fred-rls-elm-vl-td">
               86,566
           </td>,
 <td class="fred-rls-elm-vl-td">
               91,912
           </td>,
 <td class="fred-rls-elm-vl-td">
                         91,912
                   </td>,
 <td class="fred-rls-elm-vl-td">
               64,488
           </td>,
 <td class="fred-rls-elm-vl-td">
               67,399
           </td>,
 <td class="fred-rls-elm-vl-td">
                         67,399
                   </td>,
 <td class="fred-rls-elm-vl-td">
               80,441
           </td>,
 <td class="fred-rls-elm-vl-td">
               82,431
           </td>,
 <td class="fred-rls-elm-vl-td">
                         82,431
                   </td>,
 <td class="fred-rls-elm-vl-td">
               46,637
           </td>,
 <td class="fred-rls-elm-vl-td">
               47,242
           </td>,
 <td class="fred-rls-elm-vl-td">
                         47,242
                   </td>,
 <td class="fred-rls-elm-vl-td">
               63,594
           </td>,
 <td class="fred-rls-elm-vl-td">
               65,081
           </td>,
 <td class="fred-rls-elm-vl-td">
                         65,081
                   </td>,
 <td class="fred-rls-elm-vl-td">
               64,999
           </td>,
 <td class="fred-rls-elm-vl-td">
               59,390
           </td>,
 <td class="fred-rls-elm-vl-td">
                         59,390
                   </td>,
 <td class="fred-rls-elm-vl-td">
               78,109
           </td>,
 <td class="fred-rls-elm-vl-td">
               75,622
           </td>,
 <td class="fred-rls-elm-vl-td">
                         75,622
                   </td>,
 <td class="fred-rls-elm-vl-td">
               64,340
           </td>,
 <td class="fred-rls-elm-vl-td">
               64,020
           </td>,
 <td class="fred-rls-elm-vl-td">
                         64,020
                   </td>,
 <td class="fred-rls-elm-vl-td">
               88,841
           </td>,
 <td class="fred-rls-elm-vl-td">
               93,045
           </td>,
 <td class="fred-rls-elm-vl-td">
                         93,045
                   </td>,
 <td class="fred-rls-elm-vl-td">
               88,559
           </td>,
 <td class="fred-rls-elm-vl-td">
               89,543
           </td>,
 <td class="fred-rls-elm-vl-td">
                         89,543
                   </td>,
 <td class="fred-rls-elm-vl-td">
               53,463
           </td>,
 <td class="fred-rls-elm-vl-td">
               53,283
           </td>,
 <td class="fred-rls-elm-vl-td">
                         53,283
                   </td>,
 <td class="fred-rls-elm-vl-td">
               72,920
           </td>,
 <td class="fred-rls-elm-vl-td">
               71,865
           </td>,
 <td class="fred-rls-elm-vl-td">
                         71,865
                   </td>,
 <td class="fred-rls-elm-vl-td">
               62,891
           </td>,
 <td class="fred-rls-elm-vl-td">
               63,252
           </td>,
 <td class="fred-rls-elm-vl-td">
                         63,252
                   </td>,
 <td class="fred-rls-elm-vl-td">
               68,882
           </td>,
 <td class="fred-rls-elm-vl-td">
               67,109
           </td>,
 <td class="fred-rls-elm-vl-td">
                         67,109
                   </td>,
 <td class="fred-rls-elm-vl-td">
               62,689
           </td>,
 <td class="fred-rls-elm-vl-td">
               63,198
           </td>,
 <td class="fred-rls-elm-vl-td">
                         63,198
                   </td>,
 <td class="fred-rls-elm-vl-td">
               60,096
           </td>,
 <td class="fred-rls-elm-vl-td">
               54,921
           </td>,
 <td class="fred-rls-elm-vl-td">
                         54,921
                   </td>,
 <td class="fred-rls-elm-vl-td">
               81,855
           </td>,
 <td class="fred-rls-elm-vl-td">
               80,443
           </td>,
 <td class="fred-rls-elm-vl-td">
                         80,443
                   </td>,
 <td class="fred-rls-elm-vl-td">
               72,627
           </td>,
 <td class="fred-rls-elm-vl-td">
               74,094
           </td>,
 <td class="fred-rls-elm-vl-td">
                         74,094
                   </td>,
 <td class="fred-rls-elm-vl-td">
               74,982
           </td>,
 <td class="fred-rls-elm-vl-td">
               83,918
           </td>,
 <td class="fred-rls-elm-vl-td">
                         83,918
                   </td>,
 <td class="fred-rls-elm-vl-td">
               62,542
           </td>,
 <td class="fred-rls-elm-vl-td">
               63,159
           </td>,
 <td class="fred-rls-elm-vl-td">
                         63,159
                   </td>,
 <td class="fred-rls-elm-vl-td">
               73,893
           </td>,
 <td class="fred-rls-elm-vl-td">
               73,467
           </td>,
 <td class="fred-rls-elm-vl-td">
                         73,467
                   </td>,
 <td class="fred-rls-elm-vl-td">
               62,166
           </td>,
 <td class="fred-rls-elm-vl-td">
               57,542
           </td>,
 <td class="fred-rls-elm-vl-td">
                         57,542
                   </td>,
 <td class="fred-rls-elm-vl-td">
               67,404
           </td>,
 <td class="fred-rls-elm-vl-td">
               71,599
           </td>,
 <td class="fred-rls-elm-vl-td">
                         71,599
                   </td>,
 <td class="fred-rls-elm-vl-td">
               87,649
           </td>,
 <td class="fred-rls-elm-vl-td">
               87,915
           </td>,
 <td class="fred-rls-elm-vl-td">
                         87,915
                   </td>,
 <td class="fred-rls-elm-vl-td">
               76,079
           </td>,
 <td class="fred-rls-elm-vl-td">
               70,398
           </td>,
 <td class="fred-rls-elm-vl-td">
                         70,398
                   </td>,
 <td class="fred-rls-elm-vl-td">
               80,268
           </td>,
 <td class="fred-rls-elm-vl-td">
               86,053
           </td>,
 <td class="fred-rls-elm-vl-td">
                         86,053
                   </td>,
 <td class="fred-rls-elm-vl-td">
               87,648
           </td>,
 <td class="fred-rls-elm-vl-td">
               85,157
           </td>,
 <td class="fred-rls-elm-vl-td">
                         85,157
                   </td>,
 <td class="fred-rls-elm-vl-td">
               46,836
           </td>,
 <td class="fred-rls-elm-vl-td">
               54,396
           </td>,
 <td class="fred-rls-elm-vl-td">
                         54,396
                   </td>,
 <td class="fred-rls-elm-vl-td">
               69,943
           </td>,
 <td class="fred-rls-elm-vl-td">
               70,553
           </td>,
 <td class="fred-rls-elm-vl-td">
                         70,553
                   </td>,
 <td class="fred-rls-elm-vl-td">
               71,052
           </td>,
 <td class="fred-rls-elm-vl-td">
               68,506
           </td>,
 <td class="fred-rls-elm-vl-td">
                         68,506
                   </td>]

In [33]:
df

        Unnamed: 0  Murder  Assault  UrbanPop  Rape  crime_rate
0          Alabama    13.2      236        58  21.2       453.6
1           Alaska    10.0      263        48  44.5       837.8
2          Arizona     8.1      294        80  31.0       654.8
3         Arkansas     8.8      190        50  19.5       671.9
4       California     9.0      276        91  40.6       442.0
5         Colorado     7.9      204        78  38.7       423.1
6      Connecticut     3.3      110        77  11.1       181.6
7         Delaware     5.9      238        72  15.8       431.9
8          Florida    15.4      335        80  31.9       383.6
9          Georgia    17.4      211        60  25.8       400.1
10          Hawaii     5.3       46        83  20.2       254.2
11           Idaho     2.6      120        54  14.2       242.6
12        Illinois    10.4      249        83  24.0       425.9
13         Indiana     7.2      113        65  21.0       357.7
14            Iowa     2.2       56        57  11.3       303.5
15          Kansas     6.0      115        66  18.0       425.0
16        Kentucky     9.7      109        52  16.3       259.1
17       Louisiana    15.4      249        66  22.2       639.4
18           Maine     2.1       83        51   7.8       108.6
19        Maryland    11.3      300        67  27.8       399.9
20   Massachusetts     4.4      149        85  16.3       308.8
21        Michigan    12.1      255        74  35.1       478.0
22       Minnesota     2.7       72        66  14.9       277.5
23     Mississippi    16.1      259        44  17.1       291.2
24        Missouri     9.0      178        70  28.2       542.7
25         Montana     6.0      109        53  16.4       469.8
26        Nebraska     4.3      102        62  16.5       334.1
27          Nevada    12.2      252        81  46.0       460.3
28   New Hampshire     2.1       57        56   9.5       146.4
29      New Jersey     7.4      159        89  18.8       195.4
30      New Mexico    11.4      285        70  32.1       778.3
31        New York    11.1      254        86  26.1       363.8
32  North Carolina    13.0      337        45  16.1       419.3
33    North Dakota     0.8       45        44   7.3       329.0
34            Ohio     7.3      120        75  21.4       308.8
35        Oklahoma     6.6      151        68  20.0       458.6
36          Oregon     4.9      159        67  29.3       291.9
37    Pennsylvania     6.3      106        72  14.9       389.5
38    Rhode Island     3.4      174        87   8.3       230.8
39  South Carolina    14.4      279        48  22.5       530.7
40    South Dakota     3.8       86        45  12.8       501.4
41       Tennessee    13.2      188        59  26.9       672.7
42           Texas    12.7      201        80  25.5       446.5
43            Utah     3.2      120        80  22.9       260.7
44         Vermont     2.2       48        32  11.2       173.4
45        Virginia     8.5      156        63  20.7       208.0
46      Washington     4.0      145        73  26.2       293.7
47   West Virginia     5.7       81        39   9.3       355.9
48       Wisconsin     2.6       53        66  10.8       323.4
49         Wyoming     6.8      161        60  15.6       234.2

In [34]:
family_incomes = []

for i in family_income:
    family_incomes.append(i.text)
print(family_incomes)

['\n              70,784\n          ', '\n              71,186\n          ', '\n                        71,186\n                  ', '\n              56,929\n          ', '\n              57,243\n          ', '\n                        57,243\n                  ', '\n              81,133\n          ', '\n              78,236\n          ', '\n                        78,236\n                  ', '\n              70,821\n          ', '\n              70,220\n          ', '\n                        70,220\n                  ', '\n              50,784\n          ', '\n              53,148\n          ', '\n                        53,148\n                  ', '\n              81,575\n          ', '\n              81,278\n          ', '\n                        81,278\n                  ', '\n              84,954\n          ', '\n              87,689\n          ', '\n                        87,689\n                  ', '\n              80,958\n          ', '\n              83,141\n          ', '\n                        83,141\n                  ', '\n              68,687\n          ', '\n              73,292\n          ', '\n                        73,292\n                  ', '\n              90,640\n          ', '\n              92,337\n          ', '\n                        92,337\n                  ', '\n              59,734\n          ', '\n              60,460\n          ', '\n                        60,460\n                  ', '\n              61,497\n          ', '\n              62,033\n          ', '\n                        62,033\n                  ', '\n              82,199\n          ', '\n              84,600\n          ', '\n                        84,600\n                  ', '\n              76,918\n          ', '\n              69,841\n          ', '\n                        69,841\n                  ', '\n              79,253\n          ', '\n              77,805\n          ', '\n                        77,805\n                  ', '\n              70,190\n          ', '\n              69,925\n          ', '\n                        69,925\n                  ', '\n              72,429\n          ', '\n              72,030\n          ', '\n                        72,030\n                  ', '\n              75,979\n          ', '\n              76,495\n          ', '\n                        76,495\n                  ', '\n              55,629\n          ', '\n              59,405\n          ', '\n                        59,405\n                  ', '\n              57,206\n          ', '\n              53,576\n          ', '\n                        53,576\n                  ', '\n              71,139\n          ', '\n              66,667\n          ', '\n                        66,667\n                  ', '\n              97,332\n          ', '\n              99,215\n          ', '\n                        99,215\n                  ', '\n              86,566\n          ', '\n              91,912\n          ', '\n                        91,912\n                  ', '\n              64,488\n          ', '\n              67,399\n          ', '\n                        67,399\n                  ', '\n              80,441\n          ', '\n              82,431\n          ', '\n                        82,431\n                  ', '\n              46,637\n          ', '\n              47,242\n          ', '\n                        47,242\n                  ', '\n              63,594\n          ', '\n              65,081\n          ', '\n                        65,081\n                  ', '\n              64,999\n          ', '\n              59,390\n          ', '\n                        59,390\n                  ', '\n              78,109\n          ', '\n              75,622\n          ', '\n                        75,622\n                  ', '\n              64,340\n          ', '\n              64,020\n          ', '\n                        64,020\n                  ', '\n              88,841\n          ', '\n              93,045\n          ', '\n                        93,045\n                  ', '\n              88,559\n          ', '\n              89,543\n          ', '\n                        89,543\n                  ', '\n              53,463\n          ', '\n              53,283\n          ', '\n                        53,283\n                  ', '\n              72,920\n          ', '\n              71,865\n          ', '\n                        71,865\n                  ', '\n              62,891\n          ', '\n              63,252\n          ', '\n                        63,252\n                  ', '\n              68,882\n          ', '\n              67,109\n          ', '\n                        67,109\n                  ', '\n              62,689\n          ', '\n              63,198\n          ', '\n                        63,198\n                  ', '\n              60,096\n          ', '\n              54,921\n          ', '\n                        54,921\n                  ', '\n              81,855\n          ', '\n              80,443\n          ', '\n                        80,443\n                  ', '\n              72,627\n          ', '\n              74,094\n          ', '\n                        74,094\n                  ', '\n              74,982\n          ', '\n              83,918\n          ', '\n                        83,918\n                  ', '\n              62,542\n          ', '\n              63,159\n          ', '\n                        63,159\n                  ', '\n              73,893\n          ', '\n              73,467\n          ', '\n                        73,467\n                  ', '\n              62,166\n          ', '\n              57,542\n          ', '\n                        57,542\n                  ', '\n              67,404\n          ', '\n              71,599\n          ', '\n                        71,599\n                  ', '\n              87,649\n          ', '\n              87,915\n          ', '\n                        87,915\n                  ', '\n              76,079\n          ', '\n              70,398\n          ', '\n                        70,398\n                  ', '\n              80,268\n          ', '\n              86,053\n          ', '\n                        86,053\n                  ', '\n              87,648\n          ', '\n              85,157\n          ', '\n                        85,157\n                  ', '\n              46,836\n          ', '\n              54,396\n          ', '\n                        54,396\n                  ', '\n              69,943\n          ', '\n              70,553\n          ', '\n                        70,553\n                  ', '\n              71,052\n          ', '\n              68,506\n          ', '\n                        68,506\n                  ']