In [1]:
#%pip install requests

Requirement already satisfied: requests in c:\users\jelsa\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jelsa\anaconda3\lib\site-packages (from requests) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests as req

In [3]:
import pandas as pd

In [4]:
df =pd.read_csv(r"C:\Users\jelsa\OneDrive\Documentos\ironhack-proj\apis\US_violent_crime.csv")

In [5]:
df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6